.box1, .box2, .box3 {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 30px;
}

.box1 {
    background-color: rebeccapurple;
    top: 125px;
    left: 125px;
    z-index: 1;
}

.box2 {
    background-color: wheat;
    top: 150px;
    left: 150px;
    z-index: 3;
}

.box3 {
    background-color: turquoise;
    top: 175px;
    left: 175px;
    z-index: 2;
}